body{
  background-color: rgb(116, 116, 116);
}
h4{
  text-align: center;
  background-color: rgba(156, 156, 156, 0.288);
  border: solid 1px black;
  user-select: none;
}
.weathers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
  .weathers img{
    width: 150px;
    height: 150px;
    border-radius: 20%;
  }
  #info{
    background-color: rgba(0, 0, 0, 0.178);
  }
.city{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#searchinput{
  position: fixed;
}
