
  button {
    font-size: 2em;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
  }
  
  ul {
    display: flex;
    padding: 0;
  }
  
  li {
    margin: 0 20px;
    list-style: none;
    padding: 0;
  }
.weathers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .weathers img{
    width: 150px;
    height: 150px;
    border-radius: 20%;
  }
  #info{
    background-color: rgba(0, 0, 0, 0.178);
  }
    
